$primary-color: #384AEB
$secondary-color: #222

.banner-row
    display: flex
    justify-content: center
    align-items: center
   

.banner-img
    width: 40%
    background-color: $primary-color
    padding-top: 60px
    img
        padding-left: 100px
    

.banner-text
    background-color: #F1F6F7
    width: 60%
    height: 800px
    padding-left: 150px
    padding-top: 180px

.banner-text
    div
        width: 70%
    h4
        font-size: 30px
        margin-bottom: 12px
        font-weight: 400
        color: #555555
    h1
        font-size: 50px
        margin-bottom: 25px
        text-transform: uppercase
        font-weight: 700
        color: $secondary-color
    p
        margin-bottom: 40px
        color: #777
        font-size: 15px
        font-weight: 400
    button
        border: none
        padding: 12px 41px
        background: #384aeb
        font-weight: 500
        border-radius: 30px
        color: #fff

