ul
  li
    display: inline
    list-style: none
    margin-right: 40px
    a
      text-decoration: none
      color: #222
      &:hover
        color: #384aeb
      &:active
        color: #384aeb
    @media(max-width: 1024px)
      display: none

.navbar1
  display: flex
  .nav-item
    position: relative
    button
      border: 1px solid #EEEEEE
      padding: 10px 45px
      color: #222
      border-radius: 30px
      background-color: #fff
      font-weight: 500

      &:hover
        border: 1px solid #384aeb
        opacity: 0.8
        background-color: rgba(255, 255, 255, 0.8)
        transition: all .4s ease

.header
  padding-inline: 120px
  padding-top: 20px
  position: sticky
  top: 0
  background-color: #ffffff
  box-shadow: 0px 10px 27px 3px rgba(221,221,221,0.3)
  z-index: 9999
  @media(max-width: 1024px)
      padding-inline: 20px

.shopping-basket
  background-color: #384aeb
  width: 16px
  font-size: 10px
  color: #fff
  border-radius: 22px
  display: flex
  align-items: center
  justify-content: center
  position: absolute
  left: 14px
  top: -3px

  .navbar2
    padding-top: 30px
