
.option-a
    border: 1px solid #eee
    font-size: 14px
    color: #999999
    height: 38px
    padding-left: 15px
    outline: none
    margin-right: 15px

.filter__bar
    display: flex
    padding: 10px 20px 10px 20px
    background-color: #f1f6f7
    input
        width: 100%
        border: 1px solid #eee
        font-size: 14px
        color: #999999
        height: 38px
        padding-left: 15px
        outline: none
        position: relative

    .input__search
        cursor: pointer
        color: #999999
        position: absolute
        top: 10px
        right: 20px

    &:focus
        outline: 0
        box-shadow: none

    &::placeholder
        color: #999999
    @media(max-width: 768px)
        display: none

// Product-details
.product__img
    img
        margin-bottom: 20px
        width: 550px
        @media (max-width: 1366px) and (min-width: 1024px)
            width: 450px

        @media(max-width: 768px)
            width: 350px
            margin-bottom: 40px

.product__row
    display: flex
    justify-content: center
    align-items: center
.product__text
    h3
        font-size: 24px
        font-weight: 500
        color: #222
        margin-bottom: 20px
    h2
        font-size: 24px
        font-weight: 700
        color: #384aeb
        margin-bottom: 10px
    ul
        display: flex
        flex-direction: column
        padding-left: 0px
        li
            color: #555
            padding-right: 20px
        span
            color: #797979
    p
        padding-top: 20px
        border-top: 1px dotted #eeeeee
        border-bottom: 1px dotted #eeeeee
        margin-top: 20px
        padding-bottom: 26px
        margin-bottom: 0
        color: #777
        font-size: 15px
        font-weight: 400

.product__details
    label
        padding-right: 30px
        padding-top: 40px
        input
            width: 60px
            border: 1px solid #eee
            text-align: center

.product__icon
    padding-top: 40px
    gap: 10px
    display: flex
    .product__icon1
        cursor: pointer
        background-color: #E9F0F2
        padding: 10px
        width: 40px
        height: 40px
        border-radius: 4px
        display: flex
        align-items: center
        justify-content: center
        &:hover
            background-color: #fff
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px

.close__button
    margin-top: 90px
.canvas
    position: relative
    margin-bottom: 50px
   
    h6
        padding-bottom: 10px
    .canvas__info
        display: flex
        border-bottom: 1px solid #909090
        padding-bottom: 10px
        margin-bottom: 10px
        img
            width: 100px
            height: 100px
            margin-right: 20px
    .product__button
        background-color: #fff
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px
        padding: 10px 86px
        position: fixed
        display: flex
        justify-content: center
        bottom: 0px
        right: 0px
        gap: 40px

// sidebar-categories
.sidebar-categories
    .sidebar-list
        background-color: #384aeb
        font-family: 'Oswald', sans-serif
        line-height: 50px
        padding: 0 30px
        font-size: 18px
        font-weight: 400
        color: #fff
    .sidebar-all
        background-color: #f1f6f7

    ul
        display: flex
        flex-direction: column

        padding: 20px 28px
        color: #777
        font-size: 15px
        span
            color: black
        li
            line-height: 32px
            label
                padding-left: 10px

// .latest-product
//     @media(max-width: 1024px)
//         width: 560px

.product-card-img
    img
        @media (max-width: 1366px) and (min-width: 768px)
            width: 180px

// Shopping-Cart
.cart__area_thead
    display: flex
    justify-content: center
    align-items: center

    th
        font-size: 16px
        font-weight: 500
        font-family: "Oswald",sans-serif
        color: #222

        padding-bottom: 15px

.cart__area__image
    padding: 30px 200px 30px 0px
    display: flex
    justify-content: center
    align-items: center
    img
        width: 150px
        padding-right: 20px

tbody
    border-top: 1px solid #EEEEEE
    border-bottom: 1px solid #EEEEEE
    td
        padding-right: 0px
        select
            padding: 15px 120px
            margin-bottom: 10px
            background-color: #f1f6f7
            border: 1px solid #cccccc
            border-radius: 5px
            color: #999999

        button
            font-size: 14px
            margin-right: 2px
            margin-top: 20px
            margin-bottom: 60px
            border-bottom: 1px solid #EEEEEE

    input
        outline: none
        border: 1px solid #eee
        width: 60px
        height: 40px
        text-align: center
        margin-left: 10px
        margin-bottom: 10px

    h5
        font-size: 15px
        color: #222

// product checkout
